[submodule "MarkMpn.FetchXmlToWebAPI"]
	path = MarkMpn.FetchXmlToWebAPI
	url = https://github.com/MarkMpn/MarkMpn.FetchXmlToWebAPI.git
[submodule "MarkMpn.XmlSchemaAutoComplete"]
	path = MarkMpn.XmlSchemaAutoComplete
	url = https://github.com/MarkMpn/MarkMpn.XmlSchemaAutoComplete
