[submodule "MarkMpn.FetchXmlToWebAPI"]
	path = MarkMpn.FetchXmlToWebAPI
	url = https://github.com/MarkMpn/MarkMpn.FetchXmlToWebAPI.git
[submodule "Rappen.XTB.Helper"]
	path = Rappen.XTB.Helper
	url = https://github.com/rappen/Rappen.XTB.Helper
